# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
.venv.venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Ignore raw datasets
data/raw/*.csv
data/processed/customer_features_eda.csv
